/* navbar.css */

.navbar {
  background-color: #0e0e0e;
  color: #fff;
  padding: 10px;
}

.navbar a:hover {
  color: rgb(204, 4, 4);
  
}

.navbar a{
  color: #fff;
  
  
}

.navbar-brand {
  margin-left: 400px;
  font-size: 24px;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.nav-group {
  display: flex;
  margin-right: 300px;
}

.nav-group a {
  text-decoration: none;
  color: #fff;
  margin-right: 40px;
  font-size: 18px;
}

.nav-group a:hover {
  color: rgb(204, 4, 4);
}

